@media screen and (min-width: 840px) {
    .thanks {
        animation-duration: 20s;
    }
}

@media screen and (min-width: 1570px){

    .cards__container {
        justify-content: space-evenly;
    }

    .cards__container::-webkit-scrollbar-thumb {
        display: none;
    }

}