@use "./_variables.scss" as *;

.services {
  display: flex;
  width: 100%;
  height: auto;
  margin-block-start: 60px;
  padding-block-start: 35px;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.cards__container {
  display: flex;
  width: 100%;
  height: auto;
  overflow-x:scroll;
  overflow-y: hidden;
  overscroll-behavior-x: contain;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  gap: 30px;
  margin: 0 10px 0 10px;
  padding: 40px 60px;
}

.cards__container::-webkit-scrollbar {
  height: 10px;
}

.cards__container::-webkit-scrollbar-thumb {
  border-radius: 10px;
  border: 1px solid $white-color;
  box-shadow:inset 5px 5px 10px $main-color,inset -5px -5px 15px $shadow-gray-color;
}