.skills {
  display: flex;
  width: 100%;
  margin-block-start: 60px;
  padding-block-start: 35px;
  padding-inline: 5px;
  justify-content: center;
  align-items: center;

  &__container{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  &__section-pos {
    margin-block-end: 0;
  }

}

.skills__type-title {
  text-align: center;
  margin-block: 20px;
  @include font-style( $font-princp, bold, $font-size-sub, 1px, $gray-color );
}

.skills__icon_container {
  display: flex;
  width: 100%;
  height: auto;
  padding: 20px 30px;
  border: 1px solid $shadow-gray-color;
  border-radius: 10px;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.minicard__container:hover {
  opacity: 0.8;
}

.minicard__container {
  display: flex;
  width: 100px;
  height: 150px;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border: 1px solid $main-color;
  border-radius: 10px;
  box-shadow: 10px 10px 20px $shadow-gray-color, -10px -10px 20px white;
}

.minicard__tool_icon {
  width: 80px;
  height: 100px;
  object-fit: contain;
}

.minicard__subtitle {
  text-align: center;
  @include font-style( $font-secundary, normal, $font-size-p, 0, $gray-color );
}