<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Mi nombre es Christian Boffill y este es mi porafolio, el lugar donde muestro mi trabajo como desarrollador web.">
    <meta name="robots" content="index-follow">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link rel="shortcut icon" href="./assets/images/star.webp">
</head>

<body>

  <nav class="menu__nav" tabindex="0">

    <ul class="menu__list" aria-label="Menú de navegación rápida">

      <li class="menu__list-elemnt">
        <a class="menu__links" href="#services" aria-label="Ver los servicios que ofrece">Servicios</a>
      </li>

      <li class="menu__list-elemnt">
        <a class="menu__links" href="#skills" aria-label="Ver las aptitudes">Aptitudes</a>
      </li>

      <li class="menu__list-elemnt">
        <a class="menu__links" href="#works" aria-label="Ver los proyectos realizados">Proyectos</a>
      </li>

      <li class="menu__list-elemnt">
        <a class="menu__links" href="#contacts" aria-label="Ver contactos">Contactos</a>
      </li>

    </ul>

  </nav>

  <header tabindex="0">

    <section class="introduction" aria-label="Bienvenido a mi portafolio me llamo Christian Boffill y soy desarrollador web.">

      <div class="introduction__image selectDisable">
        <div class="introduction__photo">
          <img src="./assets/images/me.svg" alt="logo" width="120px" height="120px">
        </div>
      </div>

      <div class="introduction__text">
        <p class="introduction__name">Christian Boffill</p>
        <p class="introduction__resum">Desarrollador Web Frontend</p>
      </div>

      <button class="introduction__cv selectDisable" title="CV no disponible">
        <a class="download__link" href="#" aria-label="Descargar CV">Descargar CV</a>
      </button>

    </section>

    <div class="border"></div>

  </header>

  <main tabindex="0" aria-label="Seccion principal">

    <section class="services" id="services">

      <div class="section__text" tabindex="0" aria-label="Servicios. ¿Qué puedo hacer?">
          <p class="section__title">Servicios</p>
          <div class="section__resum-container">
              <p class="section__resum">¿Qué puedo hacer?</p>
          </div>
      </div>

      <div class="cards__container">

        <!-- Frontend React -->
        <article class="card" tabindex="0" aria-label="React.js Frontend. Construir interfaces de usuario para aplicaciones web escalables con React.js. Integrar React a una aplicación existente para mejorarla. ">
          <div class="card__icon">
            <img class="card__icon_img" src="./assets/images/services/react.svg" alt="react svg" loading="lazy">
          </div>
          <p class="card__title">React.js Frontend</p>
          <p class="card__resum">Construir interfaces de usuario para aplicaciones web escalables con React.js. Integrar React a una aplicación existente para mejorarla.</p>
        </article>

        <!-- Frontend JavaScript -->
        <article class="card" tabindex="0" aria-label="Vanilla JS Frontend. Páginas web de mediana y baja complejidad como Blogs, Portales Web y Sitios Estáticos. Consultas Integradas a APIs propias o de terceros.">
          <div class="card__icon">
            <img class="card__icon_img" src="./assets/images/services/frontend.svg" alt="frontend svg" loading="lazy">
          </div>
          <p class="card__title">Vanilla JS Frontend</p>
          <p class="card__resum">Páginas web de mediana y baja complejidad como Blogs, Portales Web y Sitios Estáticos. Consultas Integradas a APIs propias o de terceros.</p>
        </article>

        <!-- Website layout -->
        <article class="card" tabindex="0" aria-label="Maquetación. Llevar interfaces de usuario, previamente diseñadas a código nativo: HTML, CSS y JavaScript. Empleando Sass como preprocesador.">
          <div class="card__icon">
            <img class="card__icon_img" src="./assets/images/services/layout.svg" alt="layout svg" loading="lazy">
          </div>
          <p class="card__title">Maquetación</p>
          <p class="card__resum">Llevar interfaces de usuario, previamente diseñadas a código nativo: HTML, CSS y JavaScript. Empleando Sass como preprocesador.</p>
        </article>

        <!-- User Interface design -->
        <article class="card" tabindex="0" aria-label="Performance. Pruebas de rendimiento para incrementar la velocidad de carga. Accesibilidad, buenas prácticas, código límpio y mejoras en UI/UX.">
            <div class="card__icon uid">
              <img class="card__icon_img" src="./assets/images/services/interface.svg" alt="interface svg" loading="lazy">
            </div>
            <p class="card__title">Performance</p>
            <p class="card__resum">Pruebas de rendimiento para incrementar la velocidad de carga. Accesibilidad, buenas prácticas, código límpio y mejoras en UI/UX.</p>
        </article>

      </div>

    </section>

    <section class="skills" id="skills">

      <div class="skills__container" >

        <div class="section__text skills__section-pos" tabindex="0" aria-label="Aptitudes. ¿Con qué tecnologías trabajo?">
          <p class="section__title">Aptitudes</p>
          <div class="section__resum-container">
            <p class="section__resum">¿Con qué tecnologías trabajo?</p>
          </div>
        </div>

        <div class="skills__ecosystem" tabindex="0" aria-label="Herramientas de desarrollo: Linux Terminal, Visual Studio Code, Chrome Dev Tools y Git.">

          <h2 class="skills__type-title">Herramientas de desarrollo</h2>

          <div class="skills__icon_container">

            <div class="minicard__container">
              <img class="minicard__tool_icon" src="./assets/images/enviroment/linux-tux.svg" alt="linux" loading="lazy">
              <h3 class="minicard__subtitle">Linux Terminal</h3>
            </div>

            <div class="minicard__container">
              <img class="minicard__tool_icon" src="./assets/images/enviroment/visual-studio-code.svg" alt="visual studio code" loading="lazy">
              <h3 class="minicard__subtitle">Visual Studio Code</h3>
            </div>

            <div class="minicard__container">
              <img class="minicard__tool_icon" src="./assets/images/frontend/chrome.svg" alt="chrome" loading="lazy">
              <h3 class="minicard__subtitle">Chrome Dev Tools</h3>
            </div>

            <div class="minicard__container">
              <img class="minicard__tool_icon" src="./assets/images/enviroment/git-icon.svg" alt="git" loading="lazy">
              <h3 class="minicard__subtitle">Git</h3>
            </div>

          </div>

        </div>

        <div class="skills__design" tabindex="0" aria-label="Herramientas de diseño: Adobe xd y Figma">

          <h2 class="skills__type-title">Herramientas de diseño</h2>

          <div class="skills__icon_container">

            <div class="minicard__container">
              <img class="minicard__tool_icon" src="./assets/images/design/adobe-xd.svg" alt="adobe xd" loading="lazy">
              <h3 class="minicard__subtitle">Adobe XD</h3>
            </div>

            <div class="minicard__container">
              <img class="minicard__tool_icon" src="./assets/images/design/figma.svg" alt="figma" loading="lazy">
              <h3 class="minicard__subtitle">Figma</h3>
            </div>

          </div>

        </div>

        <div class="skills__layout" tabindex="0" aria-label="Herramientas de maquetación web: HTML5, CSS3 y Sass.">

          <h2 class="skills__type-title">Herramientas de maquetación web</h2>

          <div class="skills__icon_container">

            <div class="minicard__container">
              <img class="minicard__tool_icon" src="./assets/images/layout/html-5.svg" alt="html5" loading="lazy">
              <h3 class="minicard__subtitle">HTML5</h3>
            </div>

            <div class="minicard__container">
              <img class="minicard__tool_icon" src="./assets/images/layout/css-3.svg" alt="css3" loading="lazy">
              <h3 class="minicard__subtitle">CSS3</h3>
            </div>

            <div class="minicard__container">
              <img class="minicard__tool_icon" src="./assets/images/layout/sass.svg" alt="sass" loading="lazy">
              <h3 class="minicard__subtitle">Sass</h3>
            </div>

          </div>

        </div>

        <div class="skills__javascript" tabindex="0" aria-label="Herramientas de JavaScript: Lenguaje JavaScript, Webcomponents, Webpack, Babel, GitHub y NPM.">

          <h2 class="skills__type-title">JavaScript</h2>

          <div class="skills__icon_container">

            <div class="minicard__container">
              <img class="minicard__tool_icon" src="./assets/images/frontend/javascript.svg" alt="javascript" loading="lazy">
              <h3 class="minicard__subtitle">JavaScript</h3>
            </div>

            <div class="minicard__container">
              <img class="minicard__tool_icon" src="./assets/images/frontend/webcomponents.svg" alt="webcomponents" loading="lazy">
              <h3 class="minicard__subtitle">Web Components</h3>
            </div>

            <div class="minicard__container">
              <img class="minicard__tool_icon" src="./assets/images/frontend/webpack.svg" alt="webpack" loading="lazy">
              <h3 class="minicard__subtitle">Webpack</h3>
            </div>

            <div class="minicard__container">
              <img class="minicard__tool_icon" src="./assets/images/frontend/babel.svg" alt="babel" loading="lazy">
              <h3 class="minicard__subtitle">Babel</h3>
            </div>

            <div class="minicard__container">
              <img class="minicard__tool_icon" src="./assets/images/enviroment/github-octocat.svg" alt="GitHub" loading="lazy">
              <h3 class="minicard__subtitle">GitHub</h3>
            </div>

            <div class="minicard__container">
              <img class="minicard__tool_icon" src="./assets/images/frontend/npm-icon.svg" alt="npm" loading="lazy">
              <h3 class="minicard__subtitle">NPM</h3>
            </div>

          </div>

        </div>

        <div class="skills__react" tabindex="0" aria-label="Herramientas avanzadas: React.js y React Router.">

          <h2 class="skills__type-title">React.js</h2>

          <div class="skills__icon_container">

            <div class="minicard__container">
              <img class="minicard__tool_icon" src="./assets/images/react/react.svg" alt="react" loading="lazy">
              <h3 class="minicard__subtitle">React.js</h3>
            </div>

            <div class="minicard__container">
              <img class="minicard__tool_icon" src="./assets/images/react/react-router.svg" alt="react router" loading="lazy">
              <h3 class="minicard__subtitle">React Router</h3>
            </div>

          </div>

        </div>

      </div>

    </section>

    <section class="works" id="works">

      <div class="section__text" tabindex="0" aria-label="Proyectos. ¿Qué trabajos he realizado?">
        <p class="section__title">Proyectos</p>
        <div class="section__resum-container">
            <p class="section__resum">¿Qué trabajos he realizado?</p>
        </div>
      </div>

      <div class="cards1__container">

        <!-- ToDo-App -->
        <article class="card1" tabindex="0">
          <img class="card1__img-container" src="./assets/images/works/work12.webp" alt="work image" loading="lazy">
          <div class="card1__texts">
            <h2 class="card1__title">ToDo-App</h2>
            <p class="card1__resum">Una sencilla aplicación de lista de tareas con Create React App. Usa el LocalStorage para almacenar los ToDos. Aplicando  buenas prácticas en React.</p>
            <div class="card1__btn_container">
              <button class="card1__btn card1__btn-icon_repo" title="Ir al repositorio">
                <a class="card1__btn_link" href="hhttps://github.com/ChristBM/todo-app" target="_blank" rel="noreferrer" aria-label="Ir al repositorio"></a>
              </button>
              <button class="card1__btn card1__btn-icon_deploy" title="Ver el deploy del proyecto">
                <a class="card1__btn_link" href="https://christbm.github.io/todo-app/" target="_blank" rel="noreferrer" aria-label="Ver el deploy del proyecto"></a>
              </button>
            </div>
          </div>
        </article>

        <!-- Lego Hero -->
        <article class="card1" tabindex="0">
          <img class="card1__img-container" src="./assets/images/works/work10.webp" alt="work image" loading="lazy">
          <div class="card1__texts">
            <h2 class="card1__title">Lego Hero</h2>
            <p class="card1__resum">Una landing page con JavaScript Vanilla. Aplicando conocimientos de optimización web, animaciones, accesibilidad y webpack.</p>
            <div class="card1__btn_container">
              <button class="card1__btn card1__btn-icon_repo" title="Ir al repositorio">
                <a class="card1__btn_link" href="https://github.com/ChristBM/lego_hero" target="_blank" rel="noreferrer" aria-label="Ir al repositorio"></a>
              </button>
            </div>
          </div>
        </article>

        <!-- Web Component cbm-merchandise-card -->
        <article class="card1" tabindex="0">
          <img class="card1__img-container" src="./assets/images/works/work9.webp" alt="work image" loading="lazy">
          <div class="card1__texts">
            <h2 class="card1__title">Merchandise card</h2>
            <p class="card1__resum">Un componente web nativo con temática de tarjeta de producto para e-commerce. Resultado de un reto del curso de Web Component con JavaScript en Platzi. </p>
            <div class="card1__btn_container">
              <button class="card1__btn card1__btn-icon_repo" title="Ir al repositorio">
                <a class="card1__btn_link" href="https://github.com/ChristBM/cbm-merchandise-card" target="_blank" rel="noreferrer" aria-label="Ir al repositorio"></a>
              </button>
            </div>
          </div>
        </article>

        <!-- Workshop3 Weather App -->
        <article class="card1" tabindex="0">
          <img class="card1__img-container" src="./assets/images/works/work8.webp" alt="work image" loading="lazy">
          <div class="card1__texts">
            <h2 class="card1__title">Weather App</h2>
            <p class="card1__resum">Ejercitando conocimientos en la manipulación del DOM y usando api.openweathermap en el curso de Manipulación del DOM de Platzi. Taller individual. </p>
            <div class="card1__btn_container">
              <button class="card1__btn card1__btn-icon_repo" title="Ir al repositorio">
                <a class="card1__btn_link" href="https://github.com/ChristBM/workshop3" target="_blank" rel="noreferrer" aria-label="Ir al repositorio"></a>
              </button>
              <button class="card1__btn card1__btn-icon_deploy" title="Ver el deploy del proyecto">
                <a class="card1__btn_link" href="https://christbm.github.io/workshop3" target="_blank" rel="noreferrer" aria-label="Ver el deploy del proyecto"></a>
              </button>
            </div>
          </div>
        </article>

        <!-- SPA Rick & Morty -->
        <article class="card1" tabindex="0">
          <img class="card1__img-container" src="./assets/images/works/work11.webp" alt="work image" loading="lazy">
          <div class="card1__texts">
            <h2 class="card1__title">Rick & Morty</h2>
            <p class="card1__resum">Una SPA con JavaScript Vanilla elaborada en un curso de Platzy. Trabajo con routers, webpack, travis, API, manejo de hashes y manipulación del DOM.</p>
            <div class="card1__btn_container">
              <button class="card1__btn card1__btn-icon_repo" title="Ir al repositorio">
                <a class="card1__btn_link" href="https://github.com/ChristBM/spa_rickandmorty" target="_blank" rel="noreferrer" aria-label="Ir al repositorio"></a>
              </button>
              <button class="card1__btn card1__btn-icon_deploy" title="Ver el deploy del proyecto">
                <a class="card1__btn_link" href="https://christbm.github.io/spa_rickandmorty/" target="_blank" rel="noreferrer" aria-label="Ver el deploy del proyecto"></a>
              </button>
            </div>
          </div>
        </article>

        <!-- Modular Calculator -->
        <article class="card1" tabindex="0">
          <img class="card1__img-container" src="./assets/images/works/work7.webp" alt="work image" loading="lazy">
          <div class="card1__texts">
            <h2 class="card1__title">Calculadora</h2>
            <p class="card1__resum">Una sencilla calculadora modular a la cual se le pueden agregar nuevas funciones o se le pueden intercambiar los botones; con un diseño moderno y agradable.</p>
            <div class="card1__btn_container">
              <button class="card1__btn card1__btn-icon_repo" title="Ir al repositorio">
                <a class="card1__btn_link" href="https://github.com/ChristBM/modular_calculator" target="_blank" rel="noreferrer" aria-label="Ir al repositorio"></a>
              </button>
              <button class="card1__btn card1__btn-icon_deploy" title="Ver el deploy del proyecto">
                <a class="card1__btn_link" href="https://christbm.github.io/modular_calculator/" target="_blank" rel="noreferrer" aria-label="Ver el deploy del proyecto"></a>
              </button>
            </div>
          </div>
        </article>

        <!-- Workshop2 Lazy Loading -->
        <article class="card1" tabindex="0">
          <img class="card1__img-container" src="./assets/images/works/work6.webp" alt="work image" loading="lazy">
          <div class="card1__texts">
            <h2 class="card1__title">Lazy Loading</h2>
            <p class="card1__resum">Ejercitando la manipulación del DOM y usando Tailwind en el curso de Manipulación del DOM de Platzi. Carga imagenes aleatorias de zorros con lazy loading.</p>
            <div class="card1__btn_container">
              <button class="card1__btn card1__btn-icon_repo" title="Ir al repositorio">
                <a class="card1__btn_link" href="https://github.com/ChristBM/workshop2" target="_blank" rel="noreferrer" aria-label="Ir al repositorio"></a>
              </button>
              <button class="card1__btn card1__btn-icon_deploy" title="Ver el deploy del proyecto">
                <a class="card1__btn_link" href="https://christbm.github.io/workshop2/" target="_blank" rel="noreferrer" aria-label="Ver el deploy del proyecto"></a>
              </button>
            </div>
          </div>
        </article>

        <!-- Workshop1 Tienda de aguacates -->
        <article class="card1" tabindex="0">
          <img class="card1__img-container" src="./assets/images/works/work5.webp" alt="work image" loading="lazy">
          <div class="card1__texts">
            <h2 class="card1__title">mini-AVO</h2>
            <p class="card1__resum">Ejercitando la manipulación del DOM y usando Tailwind en el curso de Manipulación del DOM de Platzi. Esta web es una "mini-tienda" de aguacates.</p>
            <div class="card1__btn_container">
              <button class="card1__btn card1__btn-icon_repo" title="Ir al repositorio">
                <a class="card1__btn_link" href="https://github.com/ChristBM/workshop1" target="_blank" rel="noreferrer" aria-label="Ir al repositorio"></a>
              </button>
              <button class="card1__btn card1__btn-icon_deploy" title="Ver el deploy del proyecto">
                <a class="card1__btn_link" href="https://christbm.github.io/workshop1/" target="_blank" rel="noreferrer" aria-label="Ver el deploy del proyecto"></a>
              </button>
            </div>
          </div>
        </article>

        <!-- Animationland -->
        <article class="card1" tabindex="0">
          <img class="card1__img-container" src="./assets/images/works/work4.webp" alt="work image" loading="lazy">
          <div class="card1__texts">
            <h2 class="card1__title">Animationland</h2>
            <p class="card1__resum">Les presento un mini juego hecho solo con CSS3 y un poco de HTML. Un divertido reto del Curso de Animaciones con CSS de Platzi. </p>
            <div class="card1__btn_container">
              <button class="card1__btn card1__btn-icon_repo" title="Ir al repositorio">
                <a class="card1__btn_link" href="https://github.com/ChristBM/animationland" target="_blank" rel="noreferrer" aria-label="Ir al repositorio"></a>
              </button>
              <button class="card1__btn card1__btn-icon_deploy" title="Ver el deploy del proyecto">
                <a class="card1__btn_link" href="https://christbm.github.io/animationland/" target="_blank" rel="noreferrer" aria-label="Ver el deploy del proyecto"></a>
              </button>
            </div>
          </div>
        </article>

        <!-- My Portfolio -->
        <article class="card1" tabindex="0">
          <img class="card1__img-container" src="./assets/images/works/work3.webp" alt="work image" loading="lazy">
          <div class="card1__texts">
            <h2 class="card1__title">Mi Portafolio</h2>
            <p class="card1__resum">Una forma de dejar constancia de mi trabajo y habilidades adquiridas en el desarrollo web. Está sujeto a cambios y actualizaciones constantemente.</p>
            <div class="card1__btn_container">
              <button class="card1__btn card1__btn-icon_repo" title="Ir al repositorio">
                <a class="card1__btn_link" href="https://github.com/ChristBM/portfolio" target="_blank" rel="noreferrer" aria-label="Ir al repositorio"></a>
              </button>
              <button class="card1__btn card1__btn-icon_deploy" title="Ver el deploy del proyecto">
                <a class="card1__btn_link" href="https://christbm.github.io/portfolio/" target="_blank" rel="noreferrer" aria-label="Ver el deploy del proyecto"></a>
              </button>
            </div>
          </div>
        </article>

        <!-- Batatabit -->
        <article class="card1" tabindex="0">
          <img class="card1__img-container" src="./assets/images/works/work1.webp" alt="work image" loading="lazy">
          <div class="card1__texts">
            <h2 class="card1__title">Batatabit</h2>
            <p class="card1__resum">Durante el curso de Maquetación Mobile-First de Platzi nos tocó desarrollar la interfaz para la empresa Batatabit, aplicando las tendencias actuales de la maquetación web.</p>
            <div class="card1__btn_container">
              <button class="card1__btn card1__btn-icon_repo" title="Ir al repositorio">
                <a class="card1__btn_link" href="https://github.com/ChristBM/batatabit" target="_blank" rel="noreferrer" aria-label="Ir al repositorio"></a>
              </button>
            </div>
          </div>

        </article>

        <!-- myBlog -->
        <article class="card1" tabindex="0">
          <img class="card1__img-container" src="./assets/images/works/work2.webp" alt="work image" loading="lazy">
            <div class="card1__texts">
              <h2 class="card1__title">Blog</h2>
              <p class="card1__resum">Un blog básico maquetado con HTML y CSS; es el resultado de un reto propuesto en el curso práctico de maquetación con CSS en Platzi.</p>
              <div class="card1__btn_container">
                <button class="card1__btn card1__btn-icon_repo" title="Ir al repositorio">
                  <a class="card1__btn_link" href="https://github.com/ChristBM/miblog" target="_blank" rel="noreferrer" aria-label="Ir al repositorio"></a>
                </button>
              </div>
            </div>
        </article>

      </div>

    </section>

    <section class="contact" id="contacts">

      <div class="section__text" tabindex="0" aria-label="Contactos. ¿Tienes algo que decirme?">
          <p class="section__title">Contactos</p>
          <div class="section__resum-container">
              <p class="section__resum">¿Tienes algo que decirme?</p>
          </div>
      </div>

      <div class="contact__container">

        <button class="contact__btn" tabindex="0" aria-label="Descargar tarjeta de presentación">
          <a class="contact__download_link" href="./assets/images/presentation_card.webp" download="¡Contáctame!">Tarjeta</a>
        </button>

        <div class="contact__social">

          <button class="contact__social_container" tabindex="0">
            <a class="contact__social_link" href="http://www.linkedin.com/in/christian-boffill-78a21917b" aria-label="My linkedin" target="_blank" rel="noreferrer"></a>
            <img class="contact__social_logo" src="./assets/images/social/linkedin.svg" alt="logo de linkedin" loading="lazy" aria-hidden="true">
          </button>

          <button class="contact__social_container" tabindex="0">
            <a class="contact__social_link" href="https://github.com/ChristBM" aria-label="My GitHub" target="_blank" rel="noreferrer"></a>
            <img class="contact__social_logo" src="./assets/images/social/githublogo.svg" alt="logo de github" loading="lazy" aria-hidden="true">
          </button>

          <button class="contact__social_container" tabindex="0">
            <a class="contact__social_link" href="https://platzi.com/p/ChristBM/" aria-label="My Platzi" target="_blank" rel="noreferrer"></a>
            <img class="contact__social_logo" src="./assets/images/social/platzi.svg" alt="logo de platzi" loading="lazy" aria-hidden="true">
          </button>

          <button class="contact__social_container" tabindex="0" >
            <a class="contact__social_link" href="https://twitter.com/boffill_" aria-label="My Twitter" target="_blank" rel="noreferrer"></a>
            <img class="contact__social_logo" src="./assets/images/social/twitter.svg" alt="logo de twitter" loading="lazy" aria-hidden="true">
          </button>

        </div>

      </div>

    </section>

    <div class="goUp_arrow dontshow" onclick="goUp">

      <div class="goUp_arrow__icon">
        <svg xmlns="http://www.w3.org/2000/svg" width="29.696" height="17.059" viewBox="0 0 29.696 17.059">
          <g id="arrow_icon" class="arrow_icon" data-name="arrow_icon" transform="translate(-706.689 -1179.233)">
            <rect id="Rectangle_219" data-name="Rectangle 219" width="3.446" height="20.679" rx="1.723" transform="translate(721.311 1179.233) rotate(45)"/>
            <rect id="Rectangle_220" data-name="Rectangle 220" width="3.446" height="20.679" rx="1.723" transform="translate(719.326 1181.67) rotate(-45)"/>
          </g>
        </svg>
      </div>

    </div>

  </main>

  <footer tabindex="0" aria-label="¡Gracias por la visita!">
      <div class="holder selectDisable">
          <div class="thanks">¡Gracias por la visita!</div>
      </div>
  </footer>

</body>

</html>