@font-face {
  font-family: 'KoHo';
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../../assets/fonts/koho-v6-latin-700.woff") format("woff");
}

/* Variables */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  background: #EEF0F5;
}

.dontshow {
  display: none;
}

.selectDisable {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.slider {
  display: none;
}

@-webkit-keyframes zoom {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

@keyframes zoom {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

@-webkit-keyframes shake {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  15% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
  30% {
    -webkit-transform: translateX(-8px);
            transform: translateX(-8px);
  }
  45% {
    -webkit-transform: translateX(5px);
            transform: translateX(5px);
  }
  60% {
    -webkit-transform: translateX(-3px);
            transform: translateX(-3px);
  }
  80% {
    -webkit-transform: translateX(2px);
            transform: translateX(2px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes shake {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  15% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
  30% {
    -webkit-transform: translateX(-8px);
            transform: translateX(-8px);
  }
  45% {
    -webkit-transform: translateX(5px);
            transform: translateX(5px);
  }
  60% {
    -webkit-transform: translateX(-3px);
            transform: translateX(-3px);
  }
  80% {
    -webkit-transform: translateX(2px);
            transform: translateX(2px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes slide_footer {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(-60%);
            transform: translateX(-60%);
  }
}

@keyframes slide_footer {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(-60%);
            transform: translateX(-60%);
  }
}

@-webkit-keyframes slide_header {
  0% {
    -webkit-transform: translateX(280%);
            transform: translateX(280%);
  }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

@keyframes slide_header {
  0% {
    -webkit-transform: translateX(280%);
            transform: translateX(280%);
  }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

@-webkit-keyframes arrowUp {
  0% {
    -webkit-transform: translateY(4px) scale(1);
            transform: translateY(4px) scale(1);
  }
  20% {
    -webkit-transform: translateY(2px) scale(0.99);
            transform: translateY(2px) scale(0.99);
  }
  40% {
    -webkit-transform: translateY(0px) scale(0.96);
            transform: translateY(0px) scale(0.96);
  }
  60% {
    -webkit-transform: translateY(-2px) scale(0.93);
            transform: translateY(-2px) scale(0.93);
  }
  80% {
    -webkit-transform: translateY(-4px) scale(0.9);
            transform: translateY(-4px) scale(0.9);
  }
  100% {
    -webkit-transform: translateY(-6px) scale(0.87);
            transform: translateY(-6px) scale(0.87);
  }
}

@keyframes arrowUp {
  0% {
    -webkit-transform: translateY(4px) scale(1);
            transform: translateY(4px) scale(1);
  }
  20% {
    -webkit-transform: translateY(2px) scale(0.99);
            transform: translateY(2px) scale(0.99);
  }
  40% {
    -webkit-transform: translateY(0px) scale(0.96);
            transform: translateY(0px) scale(0.96);
  }
  60% {
    -webkit-transform: translateY(-2px) scale(0.93);
            transform: translateY(-2px) scale(0.93);
  }
  80% {
    -webkit-transform: translateY(-4px) scale(0.9);
            transform: translateY(-4px) scale(0.9);
  }
  100% {
    -webkit-transform: translateY(-6px) scale(0.87);
            transform: translateY(-6px) scale(0.87);
  }
}

.menu__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  position: -webkit-sticky;
  position: sticky;
  top: 5px;
  z-index: 3;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 98%;
  height: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  list-style: none;
}

.menu__list-elemnt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 75px;
  height: 28px;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu__list-elemnt::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: 5px;
  background-color: #EEF0F5;
  border: 1px solid #e7e5e5;
  -webkit-box-shadow: inset 2px 2px 10px white, inset -2px -2px 10px #dbe0e7;
          box-shadow: inset 2px 2px 10px white, inset -2px -2px 10px #dbe0e7;
}

.menu__list-elemnt::after {
  content: '';
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: 5px;
  background: #53D2BB;
}

.menu__list-elemnt:hover::after {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__links {
  width: 100%;
  height: 100%;
  z-index: 2;
  -webkit-padding-before: 4px;
          padding-block-start: 4px;
  border-radius: 10px;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: normal;
  line-height: 2.24rem;
  font-size: 1.6rem;
  letter-spacing: 1px;
  color: #686868;
}

.menu__links:active, .menu__list-elemnt:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

header {
  display: -ms-grid;
  display: grid;
  width: 100%;
  height: 400px;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: 30px 1fr 50px;
      grid-template-rows: 30px 1fr 50px;
}

.introduction {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: 2/1/3/3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #EEF0F5;
}

.introduction__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 170px;
  height: 170px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 25%;
  -webkit-box-shadow: inset 5px 5px 10px #dbe0e7, inset -5px -5px 10px white;
          box-shadow: inset 5px 5px 10px #dbe0e7, inset -5px -5px 10px white;
  background-color: #EEF0F5;
}

.introduction__photo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.introduction__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.introduction__name {
  z-index: 2;
  font-family: "KoHo", Helvetica, Arial, sans-serif;
  font-weight: normal;
  line-height: 3.36rem;
  font-size: 2.4rem;
  letter-spacing: 2px;
  color: #686868;
}

.introduction__resum {
  justify-self: flex-start;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: normal;
  line-height: 2.24rem;
  font-size: 1.6rem;
  letter-spacing: 0;
  color: #686868;
}

.introduction__cv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 150px;
  height: 30px;
  position: relative;
  margin-top: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-style: none;
}

.introduction__cv::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: 40px;
  -webkit-box-shadow: -3px -3px 10px white, 3px 3px 10px rgba(166, 180, 200, 0.7);
          box-shadow: -3px -3px 10px white, 3px 3px 10px rgba(166, 180, 200, 0.7);
  background: #EEF0F5;
}

.introduction__cv::after {
  content: '';
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: 40px;
  background: #53D2BB;
}

.introduction__cv:hover::after {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.introduction__cv:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.introduction .download__link {
  width: 150px;
  height: 30px;
  -webkit-padding-before: 3px;
          padding-block-start: 3px;
  z-index: 2;
  text-decoration: none;
  border-radius: 40px;
  text-align: center;
  cursor: pointer;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: normal;
  line-height: 2.24rem;
  font-size: 1.6rem;
  letter-spacing: 1px;
  color: #686868;
}

.introduction .download__link:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

/* Header-Bottom Border */
.border {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: 3/1/4/3;
  width: 100%;
  height: 30px;
  position: relative;
  z-index: -1;
  background: #EEF0F5;
  border-radius: 0 0 30px 30px;
  -webkit-box-shadow: 0px 2px 10px rgba(166, 180, 200, 0.7);
          box-shadow: 0px 2px 10px rgba(166, 180, 200, 0.7);
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.section__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 200px;
  height: 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-margin-after: 20px;
          margin-block-end: 20px;
  border-radius: 10px;
}

.section__title {
  font-family: "KoHo", Helvetica, Arial, sans-serif;
  font-weight: normal;
  line-height: 3.36rem;
  font-size: 2.4rem;
  letter-spacing: 1px;
  color: #686868;
}

.section__resum-container {
  width: 200px;
  height: auto;
  place-self: center;
  border-bottom: 1px solid #53D2BB;
}

.section__resum {
  vertical-align: middle;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: normal;
  line-height: 2.24rem;
  font-size: 1.6rem;
  letter-spacing: 0;
  color: #686868;
}

.services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: auto;
  -webkit-margin-before: 60px;
          margin-block-start: 60px;
  -webkit-padding-before: 35px;
          padding-block-start: 35px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cards__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: auto;
  overflow-x: scroll;
  overflow-y: hidden;
  overscroll-behavior-x: contain;
  -ms-scroll-snap-type: x mandatory;
      scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  gap: 30px;
  margin: 0 10px 0 10px;
  padding: 40px 60px;
}

.cards__container::-webkit-scrollbar {
  height: 10px;
}

.cards__container::-webkit-scrollbar-thumb {
  border-radius: 10px;
  border: 1px solid #EEF0F5;
  -webkit-box-shadow: inset 5px 5px 10px #53D2BB, inset -5px -5px 15px #dbe0e7;
          box-shadow: inset 5px 5px 10px #53D2BB, inset -5px -5px 15px #dbe0e7;
}

.card {
  display: -ms-grid;
  display: grid;
  min-width: 250px;
  max-width: 350px;
  height: 400px;
  -ms-grid-rows: 5fr 1fr 4fr;
      grid-template-rows: 5fr 1fr 4fr;
  scroll-snap-align: center;
  text-align: center;
  border-radius: 10px;
  border: 1px solid #53D2BB;
  background-color: #EEF0F5;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.card__icon {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  place-self: center;
  width: 120px;
  height: 120px;
  border-radius: 25%;
  -webkit-box-shadow: 3px 3px 10px #dbe0e7, -3px -3px 10px white;
          box-shadow: 3px 3px 10px #dbe0e7, -3px -3px 10px white;
}

.card__icon_img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.card__title {
  width: 100%;
  height: 20px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding-inline: 15px;
  font-family: "KoHo", Helvetica, Arial, sans-serif;
  font-weight: bold;
  line-height: 2.8rem;
  font-size: 2rem;
  letter-spacing: 1px;
  color: #686868;
}

.card__resum {
  width: 100%;
  height: 140px;
  padding: 5px 15px 15px 15px;
  text-align: justify;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: normal;
  line-height: 2.24rem;
  font-size: 1.6rem;
  letter-spacing: 1px;
  color: #686868;
}

.card:hover {
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition-timing-function: cubic-bezier(0.5, 2, 0.3, -0.3);
          transition-timing-function: cubic-bezier(0.5, 2, 0.3, -0.3);
}

.skills {
  display: -ms-grid;
  display: grid;
  width: 100%;
  height: auto;
  -webkit-margin-before: 60px;
          margin-block-start: 60px;
  -webkit-padding-before: 35px;
          padding-block-start: 35px;
  padding-inline: 40px;
  -ms-grid-rows: auto (auto)[5];
      grid-template-rows: auto repeat(5, auto);
  row-gap: 20px;
}

.skills__section-pos {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  place-self: center;
  -webkit-margin-after: 0;
          margin-block-end: 0;
}

.skills__ecosystem {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

.skills__design {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
}

.skills__layout {
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4/5;
}

.skills__javascript {
  -ms-grid-row: 5;
  -ms-grid-row-span: 1;
  grid-row: 5/6;
}

.skills__react {
  -ms-grid-row: 6;
  -ms-grid-row-span: 1;
  grid-row: 6/7;
}

.skills__type-title {
  text-align: center;
  margin-block: 20px;
  font-family: "KoHo", Helvetica, Arial, sans-serif;
  font-weight: bold;
  line-height: 2.8rem;
  font-size: 2rem;
  letter-spacing: 1px;
  color: #686868;
}

.skills__icon_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  gap: 10px;
}

.minicard__container:hover {
  opacity: 0.8;
}

.minicard__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100px;
  height: 150px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  border: 1px solid #53D2BB;
  border-radius: 10px;
  -webkit-box-shadow: 10px 10px 20px #dbe0e7, -10px -10px 20px white;
          box-shadow: 10px 10px 20px #dbe0e7, -10px -10px 20px white;
}

.minicard__tool_icon {
  width: 80px;
  height: 100px;
  -o-object-fit: contain;
     object-fit: contain;
}

.minicard__subtitle {
  text-align: center;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: normal;
  line-height: 2.24rem;
  font-size: 1.6rem;
  letter-spacing: 0;
  color: #686868;
}

/* Main-Works */
.works {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: auto;
  margin-block: 60px;
  -webkit-padding-before: 35px;
          padding-block-start: 35px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cards1__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: auto;
  margin-block: 40px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 70px;
}

.card1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 95%;
  height: 350px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px;
  border: 2px solid #53D2BB;
  background-color: #EEF0F5;
  -webkit-box-shadow: 18px 18px 30px #dbe0e7, -18px -18px 30px white;
          box-shadow: 18px 18px 30px #dbe0e7, -18px -18px 30px white;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.card1__texts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 55%;
  height: 100%;
  padding: 10px 5px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card1__title {
  margin-block: 10px;
  -ms-grid-column-align: center;
      justify-self: center;
  text-decoration: none;
  text-align: center;
  font-family: "KoHo", Helvetica, Arial, sans-serif;
  font-weight: bold;
  line-height: 2.8rem;
  font-size: 2rem;
  letter-spacing: 1px;
  color: #686868;
}

.card1__resum {
  text-align: center;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: normal;
  line-height: 2.24rem;
  font-size: 1.6rem;
  letter-spacing: 0;
  color: #686868;
}

.card1__img-container {
  width: 110px;
  height: 200px;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 5px;
}

.card1__btn_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: auto;
  -webkit-padding-after: 10px;
          padding-block-end: 10px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.card1__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 35px;
  height: 35px;
  border-style: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card1__btn:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.card1__btn_link {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
}

.card1__btn-icon_repo {
  background-image: url("../../assets/img/github-icon.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.card1__btn-icon_deploy {
  background-image: url("../../assets/img/rocket-deploy.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.card1:active {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition-timing-function: ease-in;
          transition-timing-function: ease-in;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
}

.card1:hover {
  -webkit-animation: shake 0.8s ease-in-out 1;
          animation: shake 0.8s ease-in-out 1;
}

.contact {
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 4/1/5/2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 260px;
  -webkit-padding-before: 20px;
          padding-block-start: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  border-radius: 30px 30px 0 0;
  background: #EEF0F5;
  -webkit-box-shadow: 0px -2px 10px rgba(166, 180, 200, 0.7);
          box-shadow: 0px -2px 10px rgba(166, 180, 200, 0.7);
}

.contact__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 150px;
  height: 30px;
  margin-top: 10px;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-style: none;
}

.contact__btn::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: 40px;
  -webkit-box-shadow: -3px -3px 10px white, 3px 3px 10px rgba(166, 180, 200, 0.7);
          box-shadow: -3px -3px 10px white, 3px 3px 10px rgba(166, 180, 200, 0.7);
  background: #EEF0F5;
}

.contact__btn::after {
  content: '';
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: 40px;
  background: #53D2BB;
}

.contact__btn:hover::after {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact__btn:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.contact__download_link {
  width: 150px;
  height: 30px;
  -webkit-padding-before: 3px;
          padding-block-start: 3px;
  z-index: 2;
  text-decoration: none;
  border-radius: 40px;
  text-align: center;
  cursor: pointer;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: normal;
  line-height: 2.24rem;
  font-size: 1.6rem;
  letter-spacing: 1px;
  color: #686868;
}

.contact__download_link:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.contact__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  -webkit-margin-before: 40px;
          margin-block-start: 40px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
}

.contact__social_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 45px;
  height: 45px;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-style: none;
  border-radius: 25%;
}

.contact__social_container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: 25%;
  -webkit-box-shadow: 18px 18px 30px #dbe0e7, -18px -18px 30px white;
          box-shadow: 18px 18px 30px #dbe0e7, -18px -18px 30px white;
}

.contact__social_container:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.contact__social_link {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 2;
  border-radius: 25%;
  cursor: pointer;
}

.contact__social_logo {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 25%;
}

.contact__social_container:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

footer {
  width: 100%;
  height: 40px;
}

.holder {
  width: 100%;
  height: 100%;
  padding: 0.5rem;
  overflow-x: hidden;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: normal;
  line-height: 2.8rem;
  font-size: 2rem;
  letter-spacing: 0;
  color: #686868;
  background: linear-gradient(108.3deg, #70E8BD 23.49%, #66DBB1 76.7%);
}

.thanks {
  -webkit-animation: slide_footer 10s linear infinite;
          animation: slide_footer 10s linear infinite;
}

.goUp_arrow {
  width: 40px;
  height: 40px;
  position: fixed;
  bottom: 100px;
  right: 5px;
  z-index: 11;
  border-radius: 50%;
  background-color: #53D2BB;
  opacity: 0.4;
  cursor: pointer;
}

.goUp_arrow:hover {
  opacity: 1;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.goUp_arrow:active {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.goUp_arrow:hover .goUp_arrow__icon {
  -webkit-animation: arrowUp linear 1s infinite;
          animation: arrowUp linear 1s infinite;
}

.goUp_arrow__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.arrow_icon {
  position: absolute;
  fill: #EEF0F5;
}
/*# sourceMappingURL=styles-mobile.css.map */